[MASTER]
extension-pkg-allow-list=pygame,win32gui,win32api,win32con,pygetwindow,psutil,comtypes,pynput,pythoncom

[MESSAGES CONTROL]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    W0511, # fixme
    R0903, # too-few-public-methods
    R0913, # too-many-arguments
    R0914, # too-many-locals
    R0915, # too-many-statements

[TYPECHECK]
generated-members=pygame.*,win32gui.*,pythoncom.*,IAudioEndpointVolume.*,devices.*
